# Ignorar todas las extensiones de archivo excepto .java
programacion/Java/!*.java
*.DS_Store



programacion/Java/ExerciciComplet/Concessionari/bin/App.class
programacion/Java/ExerciciComplet/Concessionari/bin/classes/Cotxe.class
programacion/Java/ExerciciComplet/Concessionari/bin/classes/Furgoneta.class
programacion/Java/ExerciciComplet/Concessionari/bin/classes/Moto.class
programacion/Java/ExerciciComplet/Concessionari/bin/classes/QuatreRodes.class
programacion/Java/ExerciciComplet/Concessionari/bin/classes/Vehicle.class
programacion/Java/ExerciciComplet/Concessionari/bin/classes/Vehicle$IteradorDPrecios.class
programacion/Java/ExerciciComplet/Concessionari/bin/classes/comparators/ComparatorMatricula.class
programacion/Java/ExerciciComplet/Concessionari/bin/classes/comparators/ComparatorPreu.class
programacion/Java/ExerciciComplet/Concessionari/bin/utils/Funcions.class
programacion/Java/ExerciciComplet/Concessionari/bin/utils/Leer.class
programacion/Java/ExerciciComplet/Concessionari/.vscode/settings.json
programacion/Java/ExerciciComplet/Concessionari/README.md
programacion/Java/ITERABLES/e1/e1/.vscode/settings.json
programacion/Java/ITERABLES/e1/e1/bin/App.class
programacion/Java/ITERABLES/e1/e1/bin/classes/Departament.class
programacion/Java/ITERABLES/e1/e1/bin/classes/Departament$DepartamentIterador.class
programacion/Java/ITERABLES/e1/e1/bin/classes/Empleat.class
programacion/Java/ITERABLES/e1/e1/README.md
programacion/Java/proyecto_matriz/.idea/.gitignore
programacion/Java/proyecto_matriz/.idea/misc.xml
programacion/Java/proyecto_matriz/.idea/modules.xml
programacion/Java/proyecto_matriz/.idea/artifacts/proyecto_matriz_jar.xml
programacion/Java/proyecto_matriz/out/artifacts/proyecto_matriz_jar/proyecto_matriz.jar
programacion/Java/proyecto_matriz/out/production/proyecto_matriz/Main.class
programacion/Java/proyecto_matriz/out/production/proyecto_matriz/META-INF/MANIFEST.MF
programacion/Java/proyecto_matriz/out/production/proyecto_matriz/utils/Leer.class
programacion/Java/proyecto_matriz/src/META-INF/MANIFEST.MF
programacion/Java/proyecto_personaliza/out/production/proyecto_personaliza/Main.class
programacion/Java/proyecto_personaliza/out/production/proyecto_personaliza/classes/Boligrafo.class
programacion/Java/proyecto_personaliza/out/production/proyecto_personaliza/classes/Llavero.class
programacion/Java/proyecto_personaliza/out/production/proyecto_personaliza/classes/Producto.class
programacion/Java/proyecto_personaliza/out/production/proyecto_personaliza/utils/Funcions.class
programacion/Java/proyecto_personaliza/out/production/proyecto_personaliza/utils/Leer.class
programacion/Java/proyecto_personaliza/.idea/.gitignore
programacion/Java/proyecto_personaliza/.idea/misc.xml
programacion/Java/proyecto_personaliza/.idea/modules.xml
programacion/Java/U9_propuestos/.idea/modules.xml
programacion/Java/U9_propuestos/.idea/U9_propuestos.iml
programacion/Java/U9_propuestos/.idea/workspace.xml
programacion/Java/U9_propuestos/U9_e1/.idea/.gitignore
programacion/Java/U9_propuestos/U9_e1/.idea/misc.xml
programacion/Java/U9_propuestos/U9_e1/.idea/modules.xml
programacion/Java/U9_propuestos/U9_e1/.idea/vcs.xml
programacion/Java/U9_propuestos/classes/classes.iml
programacion/Java/U9_propuestos/classes/src/Main.java
programacion/Java/U9_propuestos/U9_e2/.idea/.gitignore
programacion/Java/U9_propuestos/U9_e2/.idea/misc.xml
programacion/Java/U9_propuestos/U9_e2/.idea/modules.xml

programacion/Java/U9_propuestosII/.idea/.gitignore
programacion/Java/U9_propuestosII/.idea/misc.xml
programacion/Java/U9_propuestosII/.idea/modules.xml
programacion/Java/U9_propuestosII/U9_II_e1/.idea/.gitignore
programacion/Java/U9_propuestosII/U9_II_e1/.idea/misc.xml
programacion/Java/U9_propuestosII/U9_II_e1/.idea/modules.xml
programacion/Java/U9_propuestosII/U9_II_e1/.idea/workspace.xml
programacion/Java/U9_propuestosII/U9_II_e1/.vscode/settings.json
programacion/Java/U9_propuestosII/U9_II_e1/bin/Main.class
programacion/Java/U9_propuestosII/U9_II_e1/bin/classes/Departamento.class
programacion/Java/U9_propuestosII/U9_II_e1/bin/utils/Leer.class
programacion/Java/U9_propuestosII/U9_II_e1/README.md
programacion/Java/U9_propuestosII/U9_II_e1/U9_II_e1.iml
programacion/Java/U9_propuestosII/U9_II_e2/U9_II_e2/.idea/.gitignore
programacion/Java/U9_propuestosII/U9_II_e2/U9_II_e2/.idea/misc.xml
programacion/Java/U9_propuestosII/U9_II_e2/U9_II_e2/.idea/modules.xml
programacion/Java/U9_propuestosII/U9_II_e2/U9_II_e2/.vscode/settings.json
programacion/Java/U9_propuestosII/U9_II_e2/U9_II_e2/bin/Main.class
programacion/Java/U9_propuestosII/U9_II_e2/U9_II_e2/bin/classes/ComparadorFacturaFecha.class
programacion/Java/U9_propuestosII/U9_II_e2/U9_II_e2/bin/classes/ComparadorFacturaImporte.class
programacion/Java/U9_propuestosII/U9_II_e2/U9_II_e2/bin/classes/ComparadorFacturaNumero.class
programacion/Java/U9_propuestosII/U9_II_e2/U9_II_e2/bin/classes/Factura.class
programacion/Java/U9_propuestosII/U9_II_e2/U9_II_e2/src/classes/ComparadorFacturaFecha.java
programacion/Java/U9_propuestosII/U9_II_e2/U9_II_e2/src/classes/ComparadorFacturaImporte.java
programacion/Java/U9_propuestosII/U9_II_e2/U9_II_e2/src/classes/ComparadorFacturaNumero.java
programacion/Java/U9_propuestosII/U9_II_e2/U9_II_e2/src/classes/Factura.java
programacion/Java/U9_propuestosII/U9_II_e2/U9_II_e2/README.md
programacion/Java/U9_propuestosII/U9_II_e2/U9_II_e2/U9_II_e2.iml
programacion/Java/U9_propuestosII/U9_propuestosII.iml
programacion/Java/U10_propuestos/out/production/U10_e1/Main.class
programacion/Java/U10_propuestos/out/production/U10_e1/classes/Alumno.class
programacion/Java/U10_propuestos/out/production/U10_e1/classes/Alumno$IteradorDeNotas.class
programacion/Java/U10_propuestos/out/production/U10_e1/classes/CustomException.class
programacion/Java/U10_propuestos/out/production/U10_e1/utils/Funciones.class
programacion/Java/U10_propuestos/out/production/U10_e1/utils/Leer.class
programacion/Java/U10_propuestos/.idea/.gitignore
programacion/Java/U10_propuestos/.idea/misc.xml
programacion/Java/U10_propuestos/.idea/modules.xml
programacion/Java/U10_propuestos/.idea/U10_propuestos.iml
programacion/Java/U10_propuestos/.idea/uiDesigner.xml
programacion/Java/U10_propuestos/.idea/workspace.xml
programacion/Java/U10_propuestos/U10_e1/.idea/.gitignore
programacion/Java/U10_propuestos/U10_e1/.idea/misc.xml
programacion/Java/U10_propuestos/U10_e1/.idea/modules.xml
programacion/Java/U10_propuestos/U10_e1/out/production/U10_e1/Alumno.class
programacion/Java/U10_propuestos/U10_e1/out/production/U10_e1/Alumno$NuevaExcepcion.class
programacion/Java/U10_propuestos/U10_e1/out/production/U10_e1/Main.class
programacion/Java/U10_propuestos/U10_e1/U10_e1.iml
programacion/Java/U10_propuestos/U10_e2/out/production/U10_e2/Programa1.class
programacion/Java/U10_propuestos/U10_e2/out/production/U10_e2/Programa2.class
programacion/Java/U10_propuestos/U10_e2/.idea/.gitignore
programacion/Java/U10_propuestos/U10_e2/.idea/misc.xml
programacion/Java/U10_propuestos/U10_e2/.idea/modules.xml
programacion/Java/U10_propuestos/U10_e2/U10_e2.iml
programacion/Java/U10_propuestos/U10_e3/.idea/.gitignore
programacion/Java/U10_propuestos/U10_e3/.idea/misc.xml
programacion/Java/U10_propuestos/U10_e3/.idea/modules.xml
programacion/Java/U10_propuestos/U10_e3/out/production/U10_e3/Main.class
programacion/Java/U10_propuestos/U10_e3/out/production/U10_e3/Main$RangeExeption.class
programacion/Java/U10_propuestos/U10_e3/U10_e3.iml
programacion/Java/U10_puntuable_mascotas/.idea/.gitignore
programacion/Java/U10_puntuable_mascotas/.idea/misc.xml
programacion/Java/U10_puntuable_mascotas/.idea/modules.xml
programacion/Java/U10_puntuable_mascotas/.idea/uiDesigner.xml
programacion/Java/U10_puntuable_mascotas/out/production/U10_puntuable_mascotas/Main.class
programacion/Java/U10_puntuable_mascotas/out/production/U10_puntuable_mascotas/classes/Animal.class
programacion/Java/U10_puntuable_mascotas/out/production/U10_puntuable_mascotas/classes/Ave.class
programacion/Java/U10_puntuable_mascotas/out/production/U10_puntuable_mascotas/classes/ErrorRangoEdad.class
programacion/Java/U10_puntuable_mascotas/out/production/U10_puntuable_mascotas/classes/Gallina.class
programacion/Java/U10_puntuable_mascotas/out/production/U10_puntuable_mascotas/classes/Gato.class
programacion/Java/U10_puntuable_mascotas/out/production/U10_puntuable_mascotas/classes/ListaAnimales.class
programacion/Java/U10_puntuable_mascotas/out/production/U10_puntuable_mascotas/classes/Loro.class
programacion/Java/U10_puntuable_mascotas/out/production/U10_puntuable_mascotas/classes/Mascota.class
programacion/Java/U10_puntuable_mascotas/out/production/U10_puntuable_mascotas/classes/Perro.class
programacion/Java/U10_puntuable_mascotas/out/production/U10_puntuable_mascotas/classes/comparadores/ComparadorAnimalesCodigo.class
programacion/Java/U10_puntuable_mascotas/out/production/U10_puntuable_mascotas/classes/comparadores/ComparadorAnimalesTipo.class
programacion/Java/U10_puntuable_mascotas/out/production/U10_puntuable_mascotas/utils/Funciones.class
programacion/Java/U10_puntuable_mascotas/out/production/U10_puntuable_mascotas/utils/Leer.class
programacion/Java/U10_puntuable_mascotas/U10_puntuable_mascotas.iml
programacion/Java/U11_propuestos/U11_propuestos/.idea/.gitignore
programacion/Java/U11_propuestos/U11_propuestos/.idea/misc.xml
programacion/Java/U11_propuestos/U11_propuestos/.idea/modules.xml
programacion/Java/U11_propuestos/U11_propuestos/U11_propuestos.iml
programacion/Java/U11_propuestos/U11_propuestos_ii/exercicis/.vscode/settings.json
programacion/Java/U11_propuestos/U11_propuestos_ii/exercicis/README.md
.gitignore
programacion/Java/.idea/.name
