/.DS_Store
/programacion/.DS_Store
/programacion/U2_ejercicios_entornos_virtuales/U2_ejercicio1_entornos/u2_ejercicio1_matplot
/programacion/U2_ejercicios_entornos_virtuales/U2_ejercicio2_entornos/u2_ejercicio2_env

