* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    padding-top: 1rem;
}

nav ul li {
    display: inline;
    padding: 8px 16px;
}

li>a {
    font-size: 2rem;
    font-weight: bold;
    color: #121212;
    text-decoration-line: none;
}

li>a:hover {
    font-style: italic;
    color: rgb(179, 149, 231);
    text-decoration-line: underline;
    text-decoration-style: wavy;
}